.dropdown:hover>.dropdown-menu {
    display: block;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

 ::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, #3f4234 14%, #3f4234 64%);
    border-radius: 0px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}

 ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 0px;
}

.wow {
    visibility: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.twitter-text {
    color: #1DA1F2 !important;
}

.fb-text {
    color: #4267B2 !important;
}

.google-text {
    color: #DB4437 !important;
}